* html .u1_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u1_original.png");
}

* html .u3_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u3_original.png");
}

* html .u12_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u12_original.png");
}

* html .u14_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u14_original.png");
}

* html .u19_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u19_original.png");
}

* html .u27_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u27_menu.png");
}

* html .u28_table {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u28_table.png");
}

* html .u29_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u29_original.png");
}

* html .u31_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u31_menu.png");
}

* html .u32_table {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u32_table.png");
}

* html .u33_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u33_original.png");
}

* html .u35_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u33_original.png");
}

* html .u37_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u33_original.png");
}

* html .u39_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u33_original.png");
}

* html .u44_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u44_original.png");
}

* html .u46_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="旅游达人介绍_files/u46_original.png");
}

