body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:372px;
    top:234px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u0_text_sketch {
    font-family: 'Applied Font';
}

.u1 {
    position:absolute;
    left:372px;
    top:326px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1_text_sketch {
    font-family: 'Applied Font';
}

.u2 {
    position:absolute;
    left:372px;
    top:393px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u2_text_sketch {
    font-family: 'Applied Font';
}

.u3 {
    position:absolute;
    left:372px;
    top:459px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3_text_sketch {
    font-family: 'Applied Font';
}

.u4 {
    position:absolute;
    left:372px;
    top:524px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_text_sketch {
    font-family: 'Applied Font';
}

.u6 {
    position:absolute;
    left:16px;
    top:0px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:272px;
    top:234px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:272px;
    top:326px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:272px;
    top:393px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:272px;
    top:288px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:272px;
    top:459px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:272px;
    top:524px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:372px;
    top:361px;
    width:181px;
    height:24px;
    overflow:hidden;
}

#pd0u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:24px;
    
}

.u16 {
    position:absolute;
    left:0px;
    top:6px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u17 {
    position:absolute;
    left:372px;
    top:428px;
    width:181px;
    height:22px;
    overflow:hidden;
}

#pd0u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:22px;
    
}

.u18 {
    position:absolute;
    left:0px;
    top:6px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:372px;
    top:652px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19_text_sketch {
    font-family: 'Applied Font';
}

.u20 {
    position:absolute;
    left:503px;
    top:652px;
    width:58px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_text_sketch {
    font-family: 'Applied Font';
}

.u21 {
    position:absolute;
    left:372px;
    top:589px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_text_sketch {
    font-family: 'Applied Font';
}

.u22 {
    position:absolute;
    left:272px;
    top:589px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:586px;
    top:632px;
    width:190px;
    height:65px;
    overflow:hidden;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:190px;
    height:65px;
    
}

.u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:182px;
    height:52px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u25 {
    position:absolute;
    left:586px;
    top:724px;
    width:215px;
    height:73px;
    overflow:hidden;
}

#pd0u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:215px;
    height:73px;
    
}

.u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:52px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../注册_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:112px;
    width:1360px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../注册_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1360px;
    height:111px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:117px;
}

.u30 {
    position:absolute;
    left:2px;
    top:48px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:1220px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31_text_sketch {
    font-family: 'Applied Font';
}

.u32 {
    position:absolute;
    left:1100px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32_text_sketch {
    font-family: 'Applied Font';
}

.u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:20px;
    ;
    background-color:#33CCFF;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33_text_sketch {
    font-family: 'Applied Font';
}

.u34_normal {
    background-image: url('../注册_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:320px;
    top:0px;
    width:650px;
    height:110px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:650px;
    height:110px;
}

.u35 {
    position:absolute;
    left:2px;
    top:47px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:325px;
    top:118px;
    width:60px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:398px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:498px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:798px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:698px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_menu {
    background-image: url('../注册_files/u41_menu.png');
}

.u41_menu {
    position:absolute;
    left:595px;
    top:109px;
    width:99px;
    height:40px;
}

#u41_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u42 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u43_normal {
    background-image: url('../注册_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_menu {
    background-image: url('../注册_files/u45_menu.png');
}

.u45_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:115px;
    height:115px;
}

#u45_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:112px;
}

#u46 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:105px
}

.u47_normal {
    background-image: url('../注册_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../注册_files/u47_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:25px;
    width:100px;
    height:25px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../注册_files/u47_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:50px;
    width:100px;
    height:25px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../注册_files/u47_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:75px;
    width:100px;
    height:25px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:1150px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:1200px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_menu {
    background-image: url('../注册_files/u57_menu.png');
}

.u57_menu {
    position:absolute;
    left:895px;
    top:109px;
    width:99px;
    height:40px;
}

#u57_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u58 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u59_normal {
    background-image: url('../注册_files/u43_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_menu {
    background-image: url('../注册_files/u61_menu.png');
}

.u61_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:128px;
    height:65px;
}

#u61_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:62px;
}

#u62 {
    position:absolute;
    left:3px;
    top:3px;
    width:118px;
    height:55px
}

.u63_normal {
    background-image: url('../注册_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:25px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../注册_files/u63_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:25px;
    width:113px;
    height:25px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:1250px;
    top:144px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../注册_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:160px;
    top:160px;
    width:988px;
    height:56px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:988px;
    height:56px;
}

.u69 {
    position:absolute;
    left:2px;
    top:20px;
    width:984px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../注册_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:640px;
    top:272px;
    width:492px;
    height:67px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:492px;
    height:67px;
}

.u71 {
    position:absolute;
    left:2px;
    top:26px;
    width:488px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

