body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:420px;
    top:168px;
    width:749px;
    height:177px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:749px;
    height:177px;
    
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:748px;
    height:176px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:748px;
    height:176px;
}

.u2 {
    position:absolute;
    left:2px;
    top:80px;
    width:744px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:430px;
    top:388px;
    width:711px;
    height:161px;
    overflow:hidden;
}

#pd0u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:711px;
    height:161px;
    
}

.u5 {
    position:absolute;
    left:590px;
    top:115px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_text_sketch {
    font-family: 'Applied Font';
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:160px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:160px;
}

.u7 {
    position:absolute;
    left:2px;
    top:72px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:270px;
    top:11px;
    width:230px;
    height:111px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:640px;
    top:898px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9_text_sketch {
    font-family: 'Applied Font';
}

.u10 {
    position:absolute;
    left:830px;
    top:898px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_text_sketch {
    font-family: 'Applied Font';
}

.u11_normal {
    background-image: url('../旅行社信息_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:420px;
    top:344px;
    width:750px;
    height:23px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:29px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../旅行社信息_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:463px;
    top:347px;
    width:37px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:20px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../旅行社信息_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:497px;
    top:347px;
    width:33px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:20px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:430px;
    top:347px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:570px;
    top:347px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../旅行社信息_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:640px;
    top:347px;
    width:33px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:20px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../旅行社信息_files/u13_normal.png');
}

.u21_container {
    position:absolute;
    left:610px;
    top:347px;
    width:37px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:20px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:700px;
    top:347px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../旅行社信息_files/u13_normal.png');
}

.u24_container {
    position:absolute;
    left:770px;
    top:347px;
    width:37px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:20px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../旅行社信息_files/u15_normal.png');
}

.u26_container {
    position:absolute;
    left:807px;
    top:347px;
    width:33px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:20px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:940px;
    top:346px;
    width:150px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28_text_sketch {
    font-family: 'Applied Font';
}

.u29 {
    position:absolute;
    left:1100px;
    top:343px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29_text_sketch {
    font-family: 'Applied Font';
}

#u30 {
    position:absolute;
    left:420px;
    top:168px;
    width:751px;
    height:177px;
    overflow:hidden;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:177px;
    
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:176px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:750px;
    height:176px;
}

.u32 {
    position:absolute;
    left:2px;
    top:80px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../旅行社信息_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:1060px;
    top:318px;
    width:20px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../旅行社信息_files/u33_normal.png');
}

.u35_container {
    position:absolute;
    left:1090px;
    top:318px;
    width:20px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u37 {
    position:absolute;
    left:410px;
    top:230px;
    width:451px;
    height:241px;
    overflow:hidden;
}

#pd0u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:451px;
    height:241px;
    
}

.u38_normal {
    background-image: url('../旅行社信息_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:30px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:36px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:446px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../旅行社信息_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:30px;
    width:450px;
    height:210px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:216px;
}

.u41 {
    position:absolute;
    left:2px;
    top:97px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:60px;
    top:84px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:60px;
    top:129px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:129px;
    top:81px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44_text_sketch {
    font-family: 'Applied Font';
}

.u45 {
    position:absolute;
    left:130px;
    top:125px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45_text_sketch {
    font-family: 'Applied Font';
}

.u46 {
    position:absolute;
    left:320px;
    top:134px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:111px;
    top:179px;
    width:56px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47_text_sketch {
    font-family: 'Applied Font';
}

#u48 {
    position:absolute;
    left:111px;
    top:214px;
    width:160px;
    height:27px;
    overflow:hidden;
}

#pd0u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:27px;
    
}

.u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:210px;
    top:179px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50_text_sketch {
    font-family: 'Applied Font';
}

#u51 {
    position:absolute;
    left:200px;
    top:167px;
    width:201px;
    height:264px;
    overflow:hidden;
}

#pd0u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:264px;
    
}

.u52_normal {
    background-image: url('../旅行社信息_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:3px;
    width:200px;
    height:260px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:266px;
}

.u53 {
    position:absolute;
    left:2px;
    top:122px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../旅行社信息_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:50px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u55 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:14px;
    top:85px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56_text_sketch {
    font-family: 'Applied Font';
}

.u57 {
    position:absolute;
    left:14px;
    top:126px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57_text_sketch {
    font-family: 'Applied Font';
}

.u58 {
    position:absolute;
    left:14px;
    top:167px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58_text_sketch {
    font-family: 'Applied Font';
}

.u59 {
    position:absolute;
    left:14px;
    top:208px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59_text_sketch {
    font-family: 'Applied Font';
}

.u60_normal {
    background-image: url('../旅行社信息_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:112px;
    width:1360px;
    height:30px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:36px;
}

.u61 {
    position:absolute;
    left:2px;
    top:7px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../旅行社信息_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1360px;
    height:111px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:117px;
}

.u63 {
    position:absolute;
    left:2px;
    top:48px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:1220px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64_text_sketch {
    font-family: 'Applied Font';
}

.u65 {
    position:absolute;
    left:1100px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65_text_sketch {
    font-family: 'Applied Font';
}

.u66_normal {
    background-image: url('../旅行社信息_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:320px;
    top:0px;
    width:650px;
    height:110px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:650px;
    height:110px;
}

.u67 {
    position:absolute;
    left:2px;
    top:47px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:325px;
    top:118px;
    width:60px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:398px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:498px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:798px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:698px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_menu {
    background-image: url('../旅行社信息_files/u73_menu.png');
}

.u73_menu {
    position:absolute;
    left:595px;
    top:109px;
    width:99px;
    height:40px;
}

#u73_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u74 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u75_normal {
    background-image: url('../旅行社信息_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_menu {
    background-image: url('../旅行社信息_files/u77_menu.png');
}

.u77_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:128px;
    height:120px;
}

#u77_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:117px;
}

#u78 {
    position:absolute;
    left:3px;
    top:3px;
    width:118px;
    height:110px
}

.u79_normal {
    background-image: url('../旅行社信息_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:25px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../旅行社信息_files/u79_normal.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:25px;
    width:113px;
    height:25px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../旅行社信息_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:50px;
    width:113px;
    height:30px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:36px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../旅行社信息_files/u79_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:80px;
    width:113px;
    height:25px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:1150px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:1200px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_menu {
    background-image: url('../旅行社信息_files/u89_menu.png');
}

.u89_menu {
    position:absolute;
    left:895px;
    top:109px;
    width:99px;
    height:40px;
}

#u89_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u90 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u91_normal {
    background-image: url('../旅行社信息_files/u75_normal.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_menu {
    background-image: url('../旅行社信息_files/u93_menu.png');
}

.u93_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:128px;
    height:65px;
}

#u93_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:62px;
}

#u94 {
    position:absolute;
    left:3px;
    top:3px;
    width:118px;
    height:55px
}

.u95_normal {
    background-image: url('../旅行社信息_files/u79_normal.png');
}

.u95_container {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:25px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../旅行社信息_files/u79_normal.png');
}

.u97_container {
    position:absolute;
    left:0px;
    top:25px;
    width:113px;
    height:25px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u99 {
    position:fixed;
    left:0px;
    top: 50%;
    margin-top: -83px;
    width:116px;
    height:167px;
    overflow:hidden;
}

#pd0u99 {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:167px;
    
}

.u100_normal {
    background-image: url('../旅行社信息_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:0px;
    top:0px;
    width:115px;
    height:166px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:115px;
    height:166px;
}

.u101 {
    position:absolute;
    left:2px;
    top:75px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:1250px;
    top:144px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

