body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u1_normal {
    background-image: url('../导游信息_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:700px;
    top:168px;
    width:211px;
    height:72px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:211px;
    height:72px;
}

.u2 {
    position:absolute;
    left:2px;
    top:28px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u3 {
    position:absolute;
    left:430px;
    top:290px;
    width:711px;
    height:161px;
    overflow:hidden;
}

#pd0u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:711px;
    height:161px;
    
}

.u4_normal {
    background-image: url('../导游信息_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:160px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:160px;
}

.u5 {
    position:absolute;
    left:2px;
    top:72px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:200px;
    top:20px;
    width:510px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:590px;
    top:115px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_text_sketch {
    font-family: 'Applied Font';
}

.u8 {
    position:absolute;
    left:630px;
    top:970px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_text_sketch {
    font-family: 'Applied Font';
}

.u9 {
    position:absolute;
    left:820px;
    top:970px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9_text_sketch {
    font-family: 'Applied Font';
}

.u10_normal {
    background-image: url('../导游信息_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:420px;
    top:247px;
    width:750px;
    height:23px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:29px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../导游信息_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:463px;
    top:250px;
    width:37px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:20px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../导游信息_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:497px;
    top:250px;
    width:33px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:20px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:430px;
    top:250px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:570px;
    top:250px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../导游信息_files/u14_normal.png');
}

.u18_container {
    position:absolute;
    left:640px;
    top:250px;
    width:33px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:20px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../导游信息_files/u12_normal.png');
}

.u20_container {
    position:absolute;
    left:610px;
    top:250px;
    width:37px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:20px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:700px;
    top:250px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../导游信息_files/u12_normal.png');
}

.u23_container {
    position:absolute;
    left:770px;
    top:250px;
    width:37px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:20px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../导游信息_files/u14_normal.png');
}

.u25_container {
    position:absolute;
    left:807px;
    top:250px;
    width:33px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:20px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:940px;
    top:249px;
    width:150px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27_text_sketch {
    font-family: 'Applied Font';
}

.u28 {
    position:absolute;
    left:1100px;
    top:246px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28_text_sketch {
    font-family: 'Applied Font';
}

#u29 {
    position:absolute;
    left:410px;
    top:230px;
    width:451px;
    height:241px;
    overflow:hidden;
}

#pd0u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:451px;
    height:241px;
    
}

.u30_normal {
    background-image: url('../导游信息_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:30px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:36px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:446px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../导游信息_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:30px;
    width:450px;
    height:210px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:216px;
}

.u33 {
    position:absolute;
    left:2px;
    top:97px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:60px;
    top:84px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:60px;
    top:129px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:129px;
    top:81px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36_text_sketch {
    font-family: 'Applied Font';
}

.u37 {
    position:absolute;
    left:130px;
    top:125px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37_text_sketch {
    font-family: 'Applied Font';
}

.u38 {
    position:absolute;
    left:320px;
    top:134px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:111px;
    top:179px;
    width:56px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39_text_sketch {
    font-family: 'Applied Font';
}

#u40 {
    position:absolute;
    left:111px;
    top:214px;
    width:160px;
    height:27px;
    overflow:hidden;
}

#pd0u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:27px;
    
}

.u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:210px;
    top:179px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42_text_sketch {
    font-family: 'Applied Font';
}

#u43 {
    position:absolute;
    left:200px;
    top:167px;
    width:201px;
    height:264px;
    overflow:hidden;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:264px;
    
}

.u44_normal {
    background-image: url('../导游信息_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:3px;
    width:200px;
    height:260px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:266px;
}

.u45 {
    position:absolute;
    left:2px;
    top:122px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../导游信息_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:50px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u47 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:14px;
    top:85px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48_text_sketch {
    font-family: 'Applied Font';
}

.u49 {
    position:absolute;
    left:14px;
    top:126px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49_text_sketch {
    font-family: 'Applied Font';
}

.u50 {
    position:absolute;
    left:14px;
    top:167px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50_text_sketch {
    font-family: 'Applied Font';
}

.u51 {
    position:absolute;
    left:14px;
    top:208px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51_text_sketch {
    font-family: 'Applied Font';
}

.u52_normal {
    background-image: url('../导游信息_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:112px;
    width:1360px;
    height:30px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:36px;
}

.u53 {
    position:absolute;
    left:2px;
    top:7px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../导游信息_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1360px;
    height:111px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:117px;
}

.u55 {
    position:absolute;
    left:2px;
    top:48px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:1220px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56_text_sketch {
    font-family: 'Applied Font';
}

.u57 {
    position:absolute;
    left:1100px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57_text_sketch {
    font-family: 'Applied Font';
}

.u58_normal {
    background-image: url('../导游信息_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:320px;
    top:0px;
    width:650px;
    height:110px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:650px;
    height:110px;
}

.u59 {
    position:absolute;
    left:2px;
    top:47px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:325px;
    top:118px;
    width:60px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:398px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:498px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:798px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:698px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_menu {
    background-image: url('../导游信息_files/u65_menu.png');
}

.u65_menu {
    position:absolute;
    left:595px;
    top:109px;
    width:99px;
    height:40px;
}

#u65_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u66 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u67_normal {
    background-image: url('../导游信息_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_menu {
    background-image: url('../导游信息_files/u69_menu.png');
}

.u69_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:128px;
    height:120px;
}

#u69_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:117px;
}

#u70 {
    position:absolute;
    left:3px;
    top:3px;
    width:118px;
    height:110px
}

.u71_normal {
    background-image: url('../导游信息_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:25px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../导游信息_files/u71_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:25px;
    width:113px;
    height:25px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../导游信息_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:0px;
    top:50px;
    width:113px;
    height:30px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:36px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../导游信息_files/u71_normal.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:80px;
    width:113px;
    height:25px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:1150px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:1200px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u81 {
    position:fixed;
    left:0px;
    top: 50%;
    margin-top: -160px;
    width:111px;
    height:321px;
    overflow:hidden;
}

#pd0u81 {
    position:absolute;
    left:0px;
    top:0px;
    width:111px;
    height:321px;
    
}

.u82_normal {
    background-image: url('../导游信息_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:0px;
    top:20px;
    width:110px;
    height:300px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:300px;
}

.u83 {
    position:absolute;
    left:2px;
    top:142px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../导游信息_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:88px;
    top:300px;
    width:20px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u86_text_sketch {
    font-family: 'Applied Font';
}

.u87_menu {
    background-image: url('../导游信息_files/u87_menu.png');
}

.u87_menu {
    position:absolute;
    left:895px;
    top:109px;
    width:99px;
    height:40px;
}

#u87_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u88 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u89_normal {
    background-image: url('../导游信息_files/u67_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_menu {
    background-image: url('../导游信息_files/u91_menu.png');
}

.u91_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:128px;
    height:65px;
}

#u91_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:62px;
}

#u92 {
    position:absolute;
    left:3px;
    top:3px;
    width:118px;
    height:55px
}

.u93_normal {
    background-image: url('../导游信息_files/u71_normal.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:25px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../导游信息_files/u71_normal.png');
}

.u95_container {
    position:absolute;
    left:0px;
    top:25px;
    width:113px;
    height:25px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:1250px;
    top:144px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

