body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../旅游达人分享_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:420px;
    top:200px;
    width:850px;
    height:170px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:856px;
    height:176px;
}

.u1 {
    position:absolute;
    left:2px;
    top:77px;
    width:846px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../旅游达人分享_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:420px;
    top:170px;
    width:850px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:856px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:4px;
    width:846px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../旅游达人分享_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:420px;
    top:410px;
    width:550px;
    height:656px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:556px;
    height:662px;
}

.u5 {
    position:absolute;
    left:2px;
    top:320px;
    width:546px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../旅游达人分享_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:420px;
    top:410px;
    width:550px;
    height:33px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:556px;
    height:39px;
}

.u7 {
    position:absolute;
    left:2px;
    top:6px;
    width:546px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../旅游达人分享_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:980px;
    top:410px;
    width:290px;
    height:310px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:316px;
}

.u9 {
    position:absolute;
    left:2px;
    top:147px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../旅游达人分享_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:980px;
    top:410px;
    width:290px;
    height:39px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:45px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:286px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../旅游达人分享_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:980px;
    top:740px;
    width:290px;
    height:230px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:236px;
}

.u13 {
    position:absolute;
    left:2px;
    top:107px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../旅游达人分享_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:980px;
    top:740px;
    width:290px;
    height:29px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:35px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:286px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:400px;
    top:270px;
    width:451px;
    height:241px;
    overflow:hidden;
}

#pd0u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:451px;
    height:241px;
    
}

.u17_normal {
    background-image: url('../旅游达人分享_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:30px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:36px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:446px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../旅游达人分享_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:30px;
    width:450px;
    height:210px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:216px;
}

.u20 {
    position:absolute;
    left:2px;
    top:97px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:60px;
    top:84px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:60px;
    top:129px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:129px;
    top:81px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_text_sketch {
    font-family: 'Applied Font';
}

.u24 {
    position:absolute;
    left:130px;
    top:125px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24_text_sketch {
    font-family: 'Applied Font';
}

.u25 {
    position:absolute;
    left:320px;
    top:134px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:111px;
    top:179px;
    width:56px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26_text_sketch {
    font-family: 'Applied Font';
}

#u27 {
    position:absolute;
    left:111px;
    top:214px;
    width:160px;
    height:27px;
    overflow:hidden;
}

#pd0u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:27px;
    
}

.u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:210px;
    top:179px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29_text_sketch {
    font-family: 'Applied Font';
}

#u30 {
    position:absolute;
    left:200px;
    top:167px;
    width:201px;
    height:264px;
    overflow:hidden;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:264px;
    
}

.u31_normal {
    background-image: url('../旅游达人分享_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:3px;
    width:200px;
    height:260px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:266px;
}

.u32 {
    position:absolute;
    left:2px;
    top:122px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../旅游达人分享_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:50px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u34 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:14px;
    top:85px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35_text_sketch {
    font-family: 'Applied Font';
}

.u36 {
    position:absolute;
    left:14px;
    top:126px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36_text_sketch {
    font-family: 'Applied Font';
}

.u37 {
    position:absolute;
    left:14px;
    top:167px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37_text_sketch {
    font-family: 'Applied Font';
}

.u38 {
    position:absolute;
    left:14px;
    top:208px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38_text_sketch {
    font-family: 'Applied Font';
}

.u39_normal {
    background-image: url('../旅游达人分享_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:112px;
    width:1360px;
    height:30px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:36px;
}

.u40 {
    position:absolute;
    left:2px;
    top:7px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../旅游达人分享_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1360px;
    height:111px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:117px;
}

.u42 {
    position:absolute;
    left:2px;
    top:48px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:1220px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43_text_sketch {
    font-family: 'Applied Font';
}

.u44 {
    position:absolute;
    left:1100px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44_text_sketch {
    font-family: 'Applied Font';
}

.u45_normal {
    background-image: url('../旅游达人分享_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:320px;
    top:0px;
    width:650px;
    height:110px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:650px;
    height:110px;
}

.u46 {
    position:absolute;
    left:2px;
    top:47px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:325px;
    top:118px;
    width:60px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:398px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:498px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:798px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:698px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_menu {
    background-image: url('../旅游达人分享_files/u52_menu.png');
}

.u52_menu {
    position:absolute;
    left:595px;
    top:109px;
    width:99px;
    height:40px;
}

#u52_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u53 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u54_normal {
    background-image: url('../旅游达人分享_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_menu {
    background-image: url('../旅游达人分享_files/u56_menu.png');
}

.u56_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:128px;
    height:120px;
}

#u56_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:117px;
}

#u57 {
    position:absolute;
    left:3px;
    top:3px;
    width:118px;
    height:110px
}

.u58_normal {
    background-image: url('../旅游达人分享_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:25px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../旅游达人分享_files/u58_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:25px;
    width:113px;
    height:25px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../旅游达人分享_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:50px;
    width:113px;
    height:30px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:36px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../旅游达人分享_files/u58_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:80px;
    width:113px;
    height:25px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:1150px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:1200px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_menu {
    background-image: url('../旅游达人分享_files/u68_menu.png');
}

.u68_menu {
    position:absolute;
    left:895px;
    top:109px;
    width:99px;
    height:40px;
}

#u68_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u69 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u70_normal {
    background-image: url('../旅游达人分享_files/u54_normal.png');
}

.u70_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_menu {
    background-image: url('../旅游达人分享_files/u72_menu.png');
}

.u72_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:128px;
    height:65px;
}

#u72_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:62px;
}

#u73 {
    position:absolute;
    left:3px;
    top:3px;
    width:118px;
    height:55px
}

.u74_normal {
    background-image: url('../旅游达人分享_files/u58_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:25px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../旅游达人分享_files/u58_normal.png');
}

.u76_container {
    position:absolute;
    left:0px;
    top:25px;
    width:113px;
    height:25px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u78 {
    position:fixed;
    left:0px;
    top: 50%;
    margin-top: -83px;
    width:116px;
    height:167px;
    overflow:hidden;
}

#pd0u78 {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:167px;
    
}

.u79_normal {
    background-image: url('../旅游达人分享_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:0px;
    top:0px;
    width:115px;
    height:166px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:115px;
    height:166px;
}

.u80 {
    position:absolute;
    left:2px;
    top:75px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../旅游达人分享_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:430px;
    top:200px;
    width:692px;
    height:170px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:692px;
    height:170px;
}

.u82 {
    position:absolute;
    left:2px;
    top:77px;
    width:688px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../旅游达人分享_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:430px;
    top:450px;
    width:540px;
    height:546px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:540px;
    height:546px;
}

.u84 {
    position:absolute;
    left:2px;
    top:265px;
    width:536px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../旅游达人分享_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:430px;
    top:1000px;
    width:470px;
    height:66px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:470px;
    height:66px;
}

.u86 {
    position:absolute;
    left:2px;
    top:25px;
    width:466px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../旅游达人分享_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:990px;
    top:464px;
    width:271px;
    height:236px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:271px;
    height:236px;
}

.u88 {
    position:absolute;
    left:2px;
    top:110px;
    width:267px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../旅游达人分享_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:986px;
    top:779px;
    width:264px;
    height:171px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:264px;
    height:171px;
}

.u90 {
    position:absolute;
    left:2px;
    top:78px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:1250px;
    top:144px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

