body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u1_normal {
    background-image: url('../旅游专家_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:668px;
    top:166px;
    width:260px;
    height:73px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:73px;
}

.u2 {
    position:absolute;
    left:2px;
    top:28px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u3 {
    position:absolute;
    left:410px;
    top:230px;
    width:451px;
    height:241px;
    overflow:hidden;
}

#pd0u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:451px;
    height:241px;
    
}

.u4_normal {
    background-image: url('../旅游专家_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:446px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../旅游专家_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:30px;
    width:450px;
    height:210px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:216px;
}

.u7 {
    position:absolute;
    left:2px;
    top:97px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:60px;
    top:84px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:60px;
    top:129px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:129px;
    top:81px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_text_sketch {
    font-family: 'Applied Font';
}

.u11 {
    position:absolute;
    left:130px;
    top:125px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_text_sketch {
    font-family: 'Applied Font';
}

.u12 {
    position:absolute;
    left:320px;
    top:134px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:111px;
    top:179px;
    width:56px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_text_sketch {
    font-family: 'Applied Font';
}

#u14 {
    position:absolute;
    left:111px;
    top:214px;
    width:160px;
    height:27px;
    overflow:hidden;
}

#pd0u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:27px;
    
}

.u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:210px;
    top:179px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_text_sketch {
    font-family: 'Applied Font';
}

#u17 {
    position:absolute;
    left:200px;
    top:167px;
    width:201px;
    height:264px;
    overflow:hidden;
}

#pd0u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:264px;
    
}

.u18_normal {
    background-image: url('../旅游专家_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:3px;
    width:200px;
    height:260px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:266px;
}

.u19 {
    position:absolute;
    left:2px;
    top:122px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../旅游专家_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:50px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u21 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:14px;
    top:85px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22_text_sketch {
    font-family: 'Applied Font';
}

.u23 {
    position:absolute;
    left:14px;
    top:126px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_text_sketch {
    font-family: 'Applied Font';
}

.u24 {
    position:absolute;
    left:14px;
    top:167px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24_text_sketch {
    font-family: 'Applied Font';
}

.u25 {
    position:absolute;
    left:14px;
    top:208px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25_text_sketch {
    font-family: 'Applied Font';
}

.u26_normal {
    background-image: url('../旅游专家_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:112px;
    width:1360px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:7px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../旅游专家_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1360px;
    height:111px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:117px;
}

.u29 {
    position:absolute;
    left:2px;
    top:48px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:1220px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30_text_sketch {
    font-family: 'Applied Font';
}

.u31 {
    position:absolute;
    left:1100px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31_text_sketch {
    font-family: 'Applied Font';
}

.u32_normal {
    background-image: url('../旅游专家_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:320px;
    top:0px;
    width:650px;
    height:110px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:650px;
    height:110px;
}

.u33 {
    position:absolute;
    left:2px;
    top:47px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:325px;
    top:118px;
    width:60px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:398px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:498px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:798px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:698px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_menu {
    background-image: url('../旅游专家_files/u39_menu.png');
}

.u39_menu {
    position:absolute;
    left:595px;
    top:109px;
    width:99px;
    height:40px;
}

#u39_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u40 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u41_normal {
    background-image: url('../旅游专家_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_menu {
    background-image: url('../旅游专家_files/u43_menu.png');
}

.u43_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:128px;
    height:120px;
}

#u43_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:117px;
}

#u44 {
    position:absolute;
    left:3px;
    top:3px;
    width:118px;
    height:110px
}

.u45_normal {
    background-image: url('../旅游专家_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:25px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../旅游专家_files/u45_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:25px;
    width:113px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../旅游专家_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:50px;
    width:113px;
    height:30px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:36px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../旅游专家_files/u45_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:80px;
    width:113px;
    height:25px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:1150px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:1200px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:fixed;
    left:0px;
    top: 50%;
    margin-top: -160px;
    width:111px;
    height:321px;
    overflow:hidden;
}

#pd0u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:111px;
    height:321px;
    
}

.u56_normal {
    background-image: url('../旅游专家_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:20px;
    width:110px;
    height:300px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:300px;
}

.u57 {
    position:absolute;
    left:2px;
    top:142px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../旅游专家_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:88px;
    top:300px;
    width:20px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60_text_sketch {
    font-family: 'Applied Font';
}

#u61 {
    position:fixed;
    right:0px;
    top: 50%;
    margin-top: -160px;
    width:111px;
    height:321px;
    overflow:hidden;
}

#pd0u61 {
    position:absolute;
    left:0px;
    top:0px;
    width:111px;
    height:321px;
    
}

.u62_normal {
    background-image: url('../旅游专家_files/u56_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:20px;
    width:110px;
    height:300px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:300px;
}

.u63 {
    position:absolute;
    left:2px;
    top:142px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../旅游专家_files/u58_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:88px;
    top:300px;
    width:20px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66_text_sketch {
    font-family: 'Applied Font';
}

.u67_menu {
    background-image: url('../旅游专家_files/u67_menu.png');
}

.u67_menu {
    position:absolute;
    left:895px;
    top:109px;
    width:99px;
    height:40px;
}

#u67_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u68 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u69_normal {
    background-image: url('../旅游专家_files/u41_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_menu {
    background-image: url('../旅游专家_files/u71_menu.png');
}

.u71_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:128px;
    height:65px;
}

#u71_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:62px;
}

#u72 {
    position:absolute;
    left:3px;
    top:3px;
    width:118px;
    height:55px
}

.u73_normal {
    background-image: url('../旅游专家_files/u45_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:25px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../旅游专家_files/u45_normal.png');
}

.u75_container {
    position:absolute;
    left:0px;
    top:25px;
    width:113px;
    height:25px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:1250px;
    top:144px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

