body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../风景图库_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:112px;
    width:1360px;
    height:30px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:36px;
}

.u1 {
    position:absolute;
    left:2px;
    top:7px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../风景图库_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1360px;
    height:111px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:117px;
}

.u3 {
    position:absolute;
    left:2px;
    top:48px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:1220px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_text_sketch {
    font-family: 'Applied Font';
}

.u5 {
    position:absolute;
    left:1100px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_text_sketch {
    font-family: 'Applied Font';
}

.u6_normal {
    background-image: url('../风景图库_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:320px;
    top:0px;
    width:650px;
    height:110px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:650px;
    height:110px;
}

.u7 {
    position:absolute;
    left:2px;
    top:47px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:325px;
    top:118px;
    width:60px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:398px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:498px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:798px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:698px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_menu {
    background-image: url('../风景图库_files/u13_menu.png');
}

.u13_menu {
    position:absolute;
    left:595px;
    top:109px;
    width:99px;
    height:40px;
}

#u13_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u14 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u15_normal {
    background-image: url('../风景图库_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_menu {
    background-image: url('../风景图库_files/u17_menu.png');
}

.u17_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:128px;
    height:120px;
}

#u17_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:117px;
}

#u18 {
    position:absolute;
    left:3px;
    top:3px;
    width:118px;
    height:110px
}

.u19_normal {
    background-image: url('../风景图库_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../风景图库_files/u19_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:25px;
    width:113px;
    height:25px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../风景图库_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:50px;
    width:113px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:36px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../风景图库_files/u19_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:80px;
    width:113px;
    height:25px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:1150px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:1200px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../风景图库_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:221px;
    top:240px;
    width:189px;
    height:313px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:195px;
    height:319px;
}

.u30 {
    position:absolute;
    left:2px;
    top:148px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../风景图库_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:221px;
    top:209px;
    width:189px;
    height:31px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:195px;
    height:37px;
}

.u32 {
    position:absolute;
    left:2px;
    top:4px;
    width:185px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../风景图库_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:221px;
    top:613px;
    width:189px;
    height:276px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:195px;
    height:282px;
}

.u34 {
    position:absolute;
    left:2px;
    top:130px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../风景图库_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:221px;
    top:563px;
    width:189px;
    height:50px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:195px;
    height:56px;
}

.u36 {
    position:absolute;
    left:2px;
    top:14px;
    width:185px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../风景图库_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:430px;
    top:247px;
    width:730px;
    height:642px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:736px;
    height:648px;
}

.u38 {
    position:absolute;
    left:2px;
    top:313px;
    width:726px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../风景图库_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:430px;
    top:209px;
    width:226px;
    height:38px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:232px;
    height:44px;
}

.u40 {
    position:absolute;
    left:2px;
    top:8px;
    width:222px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:860px;
    top:176px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41_text_sketch {
    font-family: 'Applied Font';
}

.u42 {
    position:absolute;
    left:1060px;
    top:176px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42_text_sketch {
    font-family: 'Applied Font';
}

.u43_menu {
    background-image: url('../风景图库_files/u43_menu.png');
}

.u43_menu {
    position:absolute;
    left:895px;
    top:109px;
    width:99px;
    height:40px;
}

#u43_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u44 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u45_normal {
    background-image: url('../风景图库_files/u15_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_menu {
    background-image: url('../风景图库_files/u47_menu.png');
}

.u47_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:128px;
    height:65px;
}

#u47_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:62px;
}

#u48 {
    position:absolute;
    left:3px;
    top:3px;
    width:118px;
    height:55px
}

.u49_normal {
    background-image: url('../风景图库_files/u19_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:25px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../风景图库_files/u19_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:25px;
    width:113px;
    height:25px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../风景图库_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:224px;
    top:250px;
    width:181px;
    height:303px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:303px;
}

.u54 {
    position:absolute;
    left:2px;
    top:144px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../风景图库_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:223px;
    top:639px;
    width:182px;
    height:240px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:182px;
    height:240px;
}

.u56 {
    position:absolute;
    left:2px;
    top:112px;
    width:178px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../风景图库_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:433px;
    top:254px;
    width:712px;
    height:627px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:712px;
    height:627px;
}

.u58 {
    position:absolute;
    left:2px;
    top:306px;
    width:708px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u59 {
    position:absolute;
    left:450px;
    top:240px;
    width:451px;
    height:241px;
    overflow:hidden;
}

#pd0u59 {
    position:absolute;
    left:0px;
    top:0px;
    width:451px;
    height:241px;
    
}

.u60_normal {
    background-image: url('../风景图库_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:30px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:36px;
}

.u61 {
    position:absolute;
    left:2px;
    top:4px;
    width:446px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../风景图库_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:30px;
    width:450px;
    height:210px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:216px;
}

.u63 {
    position:absolute;
    left:2px;
    top:97px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:60px;
    top:84px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:60px;
    top:129px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:129px;
    top:81px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66_text_sketch {
    font-family: 'Applied Font';
}

.u67 {
    position:absolute;
    left:130px;
    top:125px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67_text_sketch {
    font-family: 'Applied Font';
}

.u68 {
    position:absolute;
    left:320px;
    top:134px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:111px;
    top:179px;
    width:56px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69_text_sketch {
    font-family: 'Applied Font';
}

#u70 {
    position:absolute;
    left:111px;
    top:214px;
    width:160px;
    height:27px;
    overflow:hidden;
}

#pd0u70 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:27px;
    
}

.u71 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:210px;
    top:179px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72_text_sketch {
    font-family: 'Applied Font';
}

.u73 {
    position:absolute;
    left:1250px;
    top:144px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

