body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:200px;
    top:167px;
    width:201px;
    height:264px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:264px;
    
}

.u1_normal {
    background-image: url('../驴友论坛_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:3px;
    width:200px;
    height:260px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:266px;
}

.u2 {
    position:absolute;
    left:2px;
    top:122px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../驴友论坛_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:50px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u4 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:14px;
    top:85px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_text_sketch {
    font-family: 'Applied Font';
}

.u6 {
    position:absolute;
    left:14px;
    top:126px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_text_sketch {
    font-family: 'Applied Font';
}

.u7 {
    position:absolute;
    left:14px;
    top:167px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_text_sketch {
    font-family: 'Applied Font';
}

.u8 {
    position:absolute;
    left:14px;
    top:208px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_text_sketch {
    font-family: 'Applied Font';
}

.u9_normal {
    background-image: url('../驴友论坛_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:404px;
    top:167px;
    width:816px;
    height:90px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:816px;
    height:90px;
}

.u10 {
    position:absolute;
    left:2px;
    top:37px;
    width:812px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../驴友论坛_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:408px;
    top:257px;
    width:808px;
    height:33px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:814px;
    height:39px;
}

.u12 {
    position:absolute;
    left:2px;
    top:8px;
    width:804px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:550px;
    top:263px;
    width:50px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:650px;
    top:263px;
    width:50px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:750px;
    top:263px;
    width:50px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:850px;
    top:263px;
    width:50px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:770px;
    top:263px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../驴友论坛_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:412px;
    top:586px;
    width:806px;
    height:200px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:812px;
    height:206px;
}

.u19 {
    position:absolute;
    left:2px;
    top:92px;
    width:802px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../驴友论坛_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:410px;
    top:560px;
    width:100px;
    height:26px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u21 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:960px;
    top:263px;
    width:140px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22_text_sketch {
    font-family: 'Applied Font';
}

.u23 {
    position:absolute;
    left:1110px;
    top:263px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_text_sketch {
    font-family: 'Applied Font';
}

.u24_normal {
    background-image: url('../驴友论坛_files/u18_normal.png');
}

.u24_container {
    position:absolute;
    left:413px;
    top:822px;
    width:806px;
    height:200px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:812px;
    height:206px;
}

.u25 {
    position:absolute;
    left:2px;
    top:92px;
    width:802px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../驴友论坛_files/u20_normal.png');
}

.u26_container {
    position:absolute;
    left:412px;
    top:796px;
    width:100px;
    height:26px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u27 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../驴友论坛_files/u18_normal.png');
}

.u28_container {
    position:absolute;
    left:410px;
    top:350px;
    width:806px;
    height:200px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:812px;
    height:206px;
}

.u29 {
    position:absolute;
    left:2px;
    top:92px;
    width:802px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../驴友论坛_files/u20_normal.png');
}

.u30_container {
    position:absolute;
    left:409px;
    top:324px;
    width:100px;
    height:26px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u31 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../驴友论坛_files/u18_normal.png');
}

.u32_container {
    position:absolute;
    left:412px;
    top:1058px;
    width:806px;
    height:200px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:812px;
    height:206px;
}

.u33 {
    position:absolute;
    left:2px;
    top:92px;
    width:802px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../驴友论坛_files/u20_normal.png');
}

.u34_container {
    position:absolute;
    left:412px;
    top:1032px;
    width:100px;
    height:26px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u35 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:438px;
    top:360px;
    width:172px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:438px;
    top:596px;
    width:172px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:438px;
    top:832px;
    width:172px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:438px;
    top:1074px;
    width:172px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../驴友论坛_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:200px;
    top:440px;
    width:198px;
    height:90px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:204px;
    height:96px;
}

.u41 {
    position:absolute;
    left:2px;
    top:37px;
    width:194px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:210px;
    top:444px;
    width:150px;
    height:52px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u43 {
    position:absolute;
    left:398px;
    top:220px;
    width:451px;
    height:241px;
    overflow:hidden;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:451px;
    height:241px;
    
}

.u44_normal {
    background-image: url('../驴友论坛_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:30px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:36px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:446px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../驴友论坛_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:30px;
    width:450px;
    height:210px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:216px;
}

.u47 {
    position:absolute;
    left:2px;
    top:97px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:60px;
    top:84px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:60px;
    top:129px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:129px;
    top:81px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50_text_sketch {
    font-family: 'Applied Font';
}

.u51 {
    position:absolute;
    left:130px;
    top:125px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51_text_sketch {
    font-family: 'Applied Font';
}

.u52 {
    position:absolute;
    left:320px;
    top:134px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:111px;
    top:179px;
    width:56px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53_text_sketch {
    font-family: 'Applied Font';
}

#u54 {
    position:absolute;
    left:111px;
    top:214px;
    width:160px;
    height:27px;
    overflow:hidden;
}

#pd0u54 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:27px;
    
}

.u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:210px;
    top:179px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56_text_sketch {
    font-family: 'Applied Font';
}

.u57_normal {
    background-image: url('../驴友论坛_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:112px;
    width:1360px;
    height:30px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:36px;
}

.u58 {
    position:absolute;
    left:2px;
    top:7px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../驴友论坛_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1360px;
    height:111px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1366px;
    height:117px;
}

.u60 {
    position:absolute;
    left:2px;
    top:48px;
    width:1356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:1220px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61_text_sketch {
    font-family: 'Applied Font';
}

.u62 {
    position:absolute;
    left:1100px;
    top:0px;
    width:100px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62_text_sketch {
    font-family: 'Applied Font';
}

.u63_normal {
    background-image: url('../驴友论坛_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:320px;
    top:0px;
    width:650px;
    height:110px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:650px;
    height:110px;
}

.u64 {
    position:absolute;
    left:2px;
    top:47px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:325px;
    top:118px;
    width:60px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:398px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:498px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:798px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:698px;
    top:118px;
    width:90px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_menu {
    background-image: url('../驴友论坛_files/u70_menu.png');
}

.u70_menu {
    position:absolute;
    left:595px;
    top:109px;
    width:99px;
    height:40px;
}

#u70_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u71 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u72_normal {
    background-image: url('../驴友论坛_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_menu {
    background-image: url('../驴友论坛_files/u74_menu.png');
}

.u74_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:128px;
    height:120px;
}

#u74_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:117px;
}

#u75 {
    position:absolute;
    left:3px;
    top:3px;
    width:118px;
    height:110px
}

.u76_normal {
    background-image: url('../驴友论坛_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:25px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../驴友论坛_files/u76_normal.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:25px;
    width:113px;
    height:25px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../驴友论坛_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:0px;
    top:50px;
    width:113px;
    height:30px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:36px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../驴友论坛_files/u76_normal.png');
}

.u82_container {
    position:absolute;
    left:0px;
    top:80px;
    width:113px;
    height:25px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:1150px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:1200px;
    top:144px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u86 {
    position:fixed;
    left:0px;
    top: 50%;
    margin-top: -160px;
    width:111px;
    height:321px;
    overflow:hidden;
}

#pd0u86 {
    position:absolute;
    left:0px;
    top:0px;
    width:111px;
    height:321px;
    
}

.u87_normal {
    background-image: url('../驴友论坛_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:20px;
    width:110px;
    height:300px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:300px;
}

.u88 {
    position:absolute;
    left:2px;
    top:142px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../驴友论坛_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:88px;
    top:300px;
    width:20px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u91_text_sketch {
    font-family: 'Applied Font';
}

.u92_menu {
    background-image: url('../驴友论坛_files/u92_menu.png');
}

.u92_menu {
    position:absolute;
    left:895px;
    top:109px;
    width:99px;
    height:40px;
}

#u92_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:37px;
}

#u93 {
    position:absolute;
    left:3px;
    top:3px;
    width:89px;
    height:30px
}

.u94_normal {
    background-image: url('../驴友论坛_files/u72_normal.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:25px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u95 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_menu {
    background-image: url('../驴友论坛_files/u96_menu.png');
}

.u96_menu {
    position:absolute;
    left:84px;
    top:0px;
    width:128px;
    height:65px;
}

#u96_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:62px;
}

#u97 {
    position:absolute;
    left:3px;
    top:3px;
    width:118px;
    height:55px
}

.u98_normal {
    background-image: url('../驴友论坛_files/u76_normal.png');
}

.u98_container {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:25px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u99 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../驴友论坛_files/u76_normal.png');
}

.u100_container {
    position:absolute;
    left:0px;
    top:25px;
    width:113px;
    height:25px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:31px;
}

.u101 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:1250px;
    top:144px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

